@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Prevents the fixed navbar from covering the top of your sections */
section {
  scroll-margin-top: 80px;
}

:root {
  font-family: "Inter", sans-serif;
}
@keyframes pulse-slow {
  0%,
  100% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
}
.animate-pulse-slow {
  animation: pulse-slow 10s ease-in-out infinite;
}
